h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width:1920px) {
    .taipei-day-trip {
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 5;
    }

    .windowBackground {
        position: fixed;
        z-index: 2;
        width: 100vw;
        background-color: black;
        opacity: 0.25;
        display: none;
        min-height: 100%;
        height: 100vh;
    }

    .windowOutside {
        position: relative;
        display: none;
        justify-content: center;
    }

    .windowPage {
        position: fixed;
        z-index: 3;
        width: 340px;
        height: 275px;
        background-color: white;
        margin-top: 80px;
        border-radius: 6px;
    }

    .window-inside {
        position: relative;
        display: grid;
        justify-items: center;
        align-items: start;
        width: 100%;
        height: 100%;
    }

    .window-inside-top {
        width: 340px;
        height: 10px;
        background: linear-gradient(90deg, #66AABB, #337788);
        border-radius: 6px 6px 0px 0px;
    }

    .window-inside-closebutton {
        position: absolute;
        z-index: 4;
        padding: 0px;
        border: 0px;
        background-color: white;
        left: calc(100% - 35px);
        top: 27px;
        cursor: pointer;
    }


    .window-inside-text-member {
        display: flex;
        justify-content: center;
        color: #666666;
        font-family: "Noto Sans TC";
        font-size: 24px;
        font-weight: 700;
        width: 310px;
    }

    .window-inside-input {
        width: 295px;
        height: 47px;
        padding: 0px 0px 0px 15px;
        border-width: 0px;
        border: solid 1px #CCCCCC;
        border-radius: 5px;
    }

    .window-inside-input-name {
        display: none;
        width: 295px;
        height: 47px;
        padding: 0px 0px 0px 15px;
        border-width: 0px;
        border: solid 1px #CCCCCC;
        border-radius: 5px;
    }

    .window-inside-login {
        width: 310px;
        height: 47px;
        background-color: #448899;
        padding: 0px;
        border-width: 0px;
        border-radius: 5px;
        color: white;
        font-family: "Noto Sans TC";
        font-size: 19px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .window-inside-email-repeat {
        display: none;
        align-items: center;
        justify-content: center;
        width: 310px;
        background-color: white;
        font-family: "Noto Sans TC";
        font-size: 14px;
        font-weight: 500;
        color: red;
        height: 17px;
    }

    .window-inside-signup-success {
        display: none;
        justify-content: center;
        width: 310px;
        background-color: white;
        font-family: "Noto Sans TC";
        font-size: 14px;
        font-weight: 500;
        color: #1cdc2c;
        height: 17px;
    }

    .window-inside-signup-fail {
        display: none;
        justify-content: center;
        width: 310px;
        background-color: white;
        font-family: "Noto Sans TC";
        font-size: 14px;
        font-weight: 500;
        color: red;
        height: 17px;
    }

    .window-inside-login-fail {
        display: none;
        justify-content: center;
        width: 310px;
        background-color: white;
        font-family: "Noto Sans TC";
        font-size: 14px;
        font-weight: 500;
        color: red;
        height: 17px;
    }

    .window-inside-signup {
        display: none;
        align-items: center;
        justify-content: center;
        width: 310px;
        height: 47px;
        background-color: #448899;
        padding: 0px;
        border-width: 0px;
        border-radius: 5px;
        color: white;
        font-family: "Noto Sans TC";
        font-size: 19px;
        font-weight: 400;
        cursor: pointer;
    }

    .window-inside-text-signup {
        display: flex;
        justify-content: center;
        width: 310px;
        background-color: white;
        border-width: 0px;
        padding: 0px;
        font-family: "Noto Sans TC";
        font-size: 16px;
        font-weight: 500;
        color: #666666;
        cursor: pointer;
    }

    .window-inside-text-signin {
        display: none;
        justify-content: center;
        width: 310px;
        background-color: white;
        border-width: 0px;
        padding: 0px;
        font-family: "Noto Sans TC";
        font-size: 16px;
        font-weight: 500;
        color: #666666;
        cursor: pointer;
    }

    .sectionTop-Outside {
        position: absolute;
        z-index: 0;
    }

    .sectionTop {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .sectionTop-space-between {
        height: 54px;
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sectionTop-1 {
        font-size: 30px;
        font-family: "Noto Sans TC";
        line-height: 34px;
        font-weight: bold;
        color: #448899;
        cursor: pointer;
        border-width: 0px;
        padding: 0px;
        background-color: white;
        text-decoration: none;
    }

    .sectionTop-2 {
        font-size: 20px;
        display: flex;
    }

    .sectionTopBooking {
        margin: 0px 10px 0px 10px;
        display: flex;
        position: relative;
        z-index: 1;
        color: #666666;
        font-family: "Noto Sans TC";
        line-height: 13.3px;
        font-size: 16px;
        font-weight: 500;
        background-color: white;
        border: 0px;
        padding: 0px;
        cursor: pointer;
    }

    .sectionTopLogin {
        margin: 0px 10px 0px 10px;
        display: flex;
        position: relative;
        z-index: 1;
        color: #666666;
        font-family: "Noto Sans TC";
        line-height: 13.3px;
        font-size: 16px;
        font-weight: 500;
        background-color: white;
        border: 0px;
        padding: 0px;
        cursor: pointer;
    }

    .sectionTopLogout {
        margin: 0px 10px 0px 10px;
        display: flex;
        position: relative;
        z-index: 1;
        color: #666666;
        font-family: "Noto Sans TC";
        line-height: 13.3px;
        font-size: 16px;
        font-weight: 500;
        background-color: white;
        border: 0px;
        padding: 0px;
        cursor: pointer;
    }

    .separator-top-outside {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 1px;
    }

    .separator-top {
        height: 1px;
        background-color: #E8E8E8;
        width: 100vw;
        display: flex;
        justify-content: center;
    }


    .booking-outside {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
    }


    .booking {
        position: relative;
        display: flex;
        width: 1200px;
        justify-content: start;
        align-items: start;
    }

    .booking-inside {
        display: block;
        width: 100%;
    }

    .booking-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
        margin: 46px 0px 0px 100px;
    }

    .noBooking {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 500;
        margin: 35px 0px 0px 100px;
    }

    .booking-content-outside {
        display: none;
        width: 100%;
    }


    .booking-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: start;
        margin: 35px 0px 40px 0px;
    }

    .booking-content-inside {
        display: flex;
    }

    .booking-content-image {
        margin-left: 102px;
        background-color: white;
        width: 266px;
        height: 200px;
        overflow: hidden;
    }

    .imageInside {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .delete {
        display: none;
        align-items: start;
        background-color: white;
        border-width: 0px;
        height: 30px;
        margin: 0px 110px 0px 0px;
        cursor: pointer;
    }

    .booking-content-text-outside {
        display: flex;
    }

    .booking-content-text {
        display: grid;
        align-items: center;
        height: 173px;
        margin-left: 22px;
    }

    .booking-content-attraction-name {
        display: flex;
        margin-bottom: 13px;
        font-family: "Noto Sans TC";
        color: #448899;
        font-size: 16px;
        font-weight: 700;
    }

    .booking-content-attraction-info {
        display: flex;
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
        align-items: center;
    }

    .booking-info {
        display: none;
    }



    .separator-middle-outside {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 1px;
    }

    .separator-middle {
        height: 1px;
        background-color: #E8E8E8;
        width: 1200px;
        display: flex;
        justify-content: center;
    }

    .contact-outside {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 44px;
    }

    .contact {
        position: relative;
        display: flex;
        width: 1200px;
        justify-content: start;
    }

    .contact-inside {
        display: grid;
        align-items: start;
        margin: 0px 0px 30px 110px;
        height: 245px;
    }

    .contact-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
    }

    .contact-info {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 500;
    }

    .contact-input {
        width: 186px;
        height: 34px;
        border-radius: 5px;
        font-family: "Noto Sans TC";
        color: black;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
        border: 1px solid #E8E8E8;
        outline: 0px;
    }

    .contact-input:focus {
        border-color: black;
        border-width: 1.5px;
    }

    .contact-bottom {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
    }

    .contact2-outside {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 44px;
    }

    .contact2 {
        position: relative;
        display: flex;
        width: 1200px;
        justify-content: start;
    }

    .contact2-inside {
        display: grid;
        align-items: start;
        margin: 0px 0px 29px 110px;
        height: 211px;
    }

    .contact2-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
    }

    .contact2-info {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    .tpfield {
        height: 34px;
        width: 186px;
        padding: 5px;
        border: 1px solid #E8E8E8;
        border-radius: 5px;
        font-family: "Noto Sans TC";
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
        color: black;
    }

    .tappay-field-focus {
        outline: 0;
        border-color: black;
        border-width: 1.5px;
    }


    .card-number invalid:focus {
        border-color: black;
        border-width: 1.5px;
    }

    ::placeholder {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 500;
    }


    .contact2-bottom {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
    }

    .payment-outside {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .payment {
        display: flex;
        justify-content: right;
        width: 1200px;
        margin: 43px 110px 0px 0px;
    }

    .payment-inside {
        display: block;
    }

    .payment-text {
        display: flex;
        align-items: center;
        justify-content: right;
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
    }


    .payment-button {
        width: 173px;
        height: 36px;
        border-width: 0px;
        padding: 0px;
        margin-top: 25px;
        font-family: "Noto Sans TC";
        color: white;
        background-color: #448899;
        font-size: 19px;
        font-weight: 400;
        border-radius: 5px;
        cursor: pointer;
    }

    .footer {
        width: 100vw;
        margin-top: 62px;
        height: 104px;
        background-color: #757575;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Noto Sans TC";
        font-size: 16px;
        line-height: 13.3px;
        font-weight: 700;
    }

}

@media (max-width:1280px) {

    .sectionTop {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .sectionTop-space-between {
        height: 54px;
        width: 93.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sectionTop-1 {
        font-size: 30px;
        font-family: "Noto Sans TC";
        line-height: 34px;
        font-weight: bold;
        color: #448899;
    }

    .sectionTop-2 {
        font-size: 20px;
        display: flex;
    }

    .separator-top-outside {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 1px;
    }

    .separator-top {
        height: 1px;
        background-color: #E8E8E8;
        width: 100vw;
        display: flex;
        justify-content: center;
    }


    .booking-outside {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
    }


    .booking {
        position: relative;
        display: flex;
        width: 1200px;
        justify-content: start;
        align-items: start;
    }

    .booking-inside {
        display: block;
        width: 100%;
    }

    .booking-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
        margin: 46px 0px 0px 100px;
    }

    .booking-content {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: 35px 0px 40px 0px;

    }

    .booking-content-inside {
        display: flex;


    }

    .booking-content-image {
        margin-left: 102px;
        background-color: white;
        width: 266px;
        height: 200px;
    }

    .delete {
        display: none;
        align-items: start;
        background-color: white;
        border-width: 0px;
        height: 30px;
        margin: 0px 110px 0px 0px;
    }

    .booking-content-text-outside {
        display: flex;
    }

    .booking-content-text {
        display: grid;
        align-items: center;
        height: 173px;
        margin-left: 22px;
    }

    .booking-content-attraction-name {
        display: flex;
        margin-bottom: 13px;
        font-family: "Noto Sans TC";
        color: #448899;
        font-size: 16px;
        font-weight: 700;
    }

    .booking-content-attraction-info {
        display: flex;
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
        align-items: center;
    }



    .separator-middle-outside {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 1px;
    }

    .separator-middle {
        height: 1px;
        background-color: #E8E8E8;
        width: 1200px;
        display: flex;
        justify-content: center;
    }

    .contact-outside {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 44px;
    }

    .contact {
        position: relative;
        display: flex;
        width: 1200px;
        justify-content: start;
    }

    .contact-inside {
        display: grid;
        align-items: start;
        margin: 0px 0px 30px 110px;
        height: 245px;
    }

    .contact-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
    }

    .contact-info {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 500;
    }

    .contact-input {
        width: 186px;
        height: 34px;
        border-radius: 5px;
        font-family: "Noto Sans TC";
        color: black;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
    }


    .contact-bottom {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
    }

    .contact2-outside {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 44px;
    }

    .contact2 {
        position: relative;
        display: flex;
        width: 1200px;
        justify-content: start;
    }

    .contact2-inside {
        display: grid;
        align-items: start;
        margin: 0px 0px 29px 110px;
        height: 211px;
    }

    .contact2-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
    }

    .contact2-info {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 500;
    }

    .contact2-input {
        width: 186px;
        height: 34px;
        border-radius: 5px;
        font-family: "Noto Sans TC";
        color: black;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
    }


    .contact2-bottom {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
    }

    .payment-outside {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .payment {
        display: flex;
        justify-content: right;
        width: 1200px;
        margin: 43px 110px 0px 0px;
    }

    .payment-inside {
        display: block;
    }

    .payment-text {
        display: flex;
        justify-content: right;
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;

    }

    .payment-button {
        width: 173px;
        height: 36px;
        border-width: 0px;
        padding: 0px;
        margin-top: 25px;
        font-family: "Noto Sans TC";
        color: white;
        background-color: #448899;
        font-size: 19px;
        font-weight: 400;
        border-radius: 5px;
    }

    .footer {
        width: 100vw;
        height: 104px;
        background-color: #757575;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Noto Sans TC";
        font-size: 16px;
        line-height: 13.3px;
        font-weight: 700;
    }

}

@media (max-width:770px) {

    .sectionTop {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .sectionTop-space-between {
        height: 54px;
        width: 93.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sectionTop-1 {
        font-size: 30px;
        font-family: "Noto Sans TC";
        line-height: 34px;
        font-weight: bold;
        color: #448899;
    }

    .sectionTop-2 {
        font-size: 20px;
        display: flex;
    }

    .sectionTop-2-1 {
        margin: 0px 10px 0px 10px;
        position: relative;
        z-index: 1;
        color: #666666;
        font-family: "Noto Sans TC";
        line-height: 13.3px;
        font-size: 16px;
        font-weight: 500;
    }

    .separator-top-outside {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 1px;
    }

    .separator-top {
        height: 1px;
        background-color: #E8E8E8;
        width: 100vw;
        display: flex;
        justify-content: center;
    }


    .booking-outside {
        position: relative;
        display: flex;
        width: 100vw;
        padding: 0px;
        justify-content: center;
    }


    .booking {
        position: relative;
        display: flex;
        width: calc(100vw - 20px);
        justify-content: center;
        align-items: start;
        margin-bottom: 20px;
    }

    .booking-inside {
        display: block;
        width: 100%;
    }

    .booking-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
        margin: 46px 0px 0px 0px;
    }

    .booking-content {
        display: block;
        margin: 17px 0px 40px 0px;

    }

    .booking-content-inside {
        display: block;
    }

    .booking-content-image {
        margin-left: 0px;
        background-color: white;
        width: 100%;
        height: 256px;
    }

    .delete {
        display: none;
        position: absolute;
        background-color: white;
        border-width: 0px;
        height: 30px;
        margin-left: calc(100% - 30px);
    }

    .booking-content-text-outside {
        display: flex;
        margin-top: 10px;
    }

    .booking-content-text {
        display: grid;
        align-items: center;
        height: 173px;
        margin-left: 0px;
    }

    .booking-content-attraction-name {
        display: flex;
        margin-bottom: 13px;
        font-family: "Noto Sans TC";
        color: #448899;
        font-size: 16px;
        font-weight: 700;
    }

    .booking-content-attraction-info {
        display: flex;
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
        align-items: center;
    }



    .separator-middle-outside {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 1px;
    }

    .separator-middle {
        height: 1px;
        background-color: #E8E8E8;
        width: 1200px;
        display: flex;
        justify-content: center;
    }

    .contact-outside {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 44px;
    }

    .contact {
        position: relative;
        display: flex;
        width: 1200px;
        justify-content: start;
    }

    .contact-inside {
        display: grid;
        align-items: start;
        margin: 0px 0px 30px 10px;
        height: 245px;
    }

    .contact-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
    }

    .contact-info {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 500;
    }

    .contact-input {
        width: 186px;
        height: 34px;
        border-radius: 5px;
        font-family: "Noto Sans TC";
        color: black;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
    }


    .contact-bottom {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
    }

    .contact2-outside {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 44px;
    }

    .contact2 {
        position: relative;
        display: flex;
        width: 1200px;
        justify-content: start;
    }

    .contact2-inside {
        display: grid;
        align-items: start;
        margin: 0px 10px 29px 10px;
        height: 211px;
    }

    .contact2-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
    }

    .contact2-info {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 500;
    }

    .contact2-input {
        width: 186px;
        height: 34px;
        border-radius: 5px;
        font-family: "Noto Sans TC";
        color: black;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
    }


    .contact2-bottom {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
    }

    .payment-outside {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .payment {
        display: flex;
        justify-content: right;
        width: 1200px;
        margin: 43px 10px 0px 0px;
    }

    .payment-inside {
        display: block;
    }

    .payment-text {
        display: flex;
        justify-content: right;
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;

    }

    .payment-button {
        width: 173px;
        height: 36px;
        border-width: 0px;
        padding: 0px;
        margin-top: 25px;
        font-family: "Noto Sans TC";
        color: white;
        background-color: #448899;
        font-size: 19px;
        font-weight: 400;
        border-radius: 5px;
    }



    .footer {
        width: 100vw;
        height: 104px;
        background-color: #757575;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Noto Sans TC";
        font-size: 16px;
        line-height: 13.3px;
        font-weight: 700;
    }
}


@media (max-width:619px) {

    .sectionTop {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .sectionTop-space-between {
        height: 54px;
        width: 93.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sectionTop-1 {
        font-size: 30px;
        font-family: "Noto Sans TC";
        line-height: 34px;
        font-weight: bold;
        color: #448899;
    }

    .sectionTop-2 {
        font-size: 20px;
        display: flex;
    }

    .sectionTop-2-1 {
        margin: 0px 10px 0px 10px;
        position: relative;
        z-index: 1;
        color: #666666;
        font-family: "Noto Sans TC";
        line-height: 13.3px;
        font-size: 16px;
        font-weight: 500;
    }

    .separator-top-outside {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 1px;
    }

    .separator-top {
        height: 1px;
        background-color: #E8E8E8;
        width: 100vw;
        display: flex;
        justify-content: center;
    }


    .booking-outside {
        position: relative;
        display: flex;
        width: 100vw;
        padding: 0px;
        justify-content: center;
    }


    .booking {
        position: relative;
        display: flex;
        width: calc(100vw - 20px);
        justify-content: center;
        align-items: start;
        margin-bottom: 20px;
    }

    .booking-inside {
        display: block;
        width: 100%;
    }

    .booking-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
        margin: 46px 0px 0px 0px;
    }

    .booking-content {
        display: block;
        margin: 17px 0px 40px 0px;

    }

    .booking-content-inside {
        display: block;
    }

    .booking-content-image {
        margin-left: 0px;
        background-color: white;
        width: 100%;
        height: 256px;
    }

    .delete {
        display: none;
        position: absolute;
        background-color: white;
        border-width: 0px;
        height: 30px;
        margin-left: calc(100% - 30px);
    }

    .booking-content-text-outside {
        display: flex;
        margin-top: 10px;
    }

    .booking-content-text {
        display: grid;
        align-items: center;
        height: 173px;
        margin-left: 0px;
    }

    .booking-content-attraction-name {
        display: flex;
        margin-bottom: 13px;
        font-family: "Noto Sans TC";
        color: #448899;
        font-size: 16px;
        font-weight: 700;
    }

    .booking-content-attraction-info {
        display: flex;
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
        align-items: center;
    }



    .separator-middle-outside {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 1px;
    }

    .separator-middle {
        height: 1px;
        background-color: #E8E8E8;
        width: 1200px;
        display: flex;
        justify-content: center;
    }

    .contact-outside {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 44px;
    }

    .contact {
        position: relative;
        display: flex;
        width: 1200px;
        justify-content: start;
    }

    .contact-inside {
        display: grid;
        align-items: start;
        margin: 0px 0px 30px 10px;
        height: 266px;
    }

    .contact-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
    }

    .contact-info {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 500;
    }

    .contact-input {
        width: 186px;
        height: 34px;
        border-radius: 5px;
        font-family: "Noto Sans TC";
        color: black;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
    }


    .contact-bottom {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
    }

    .contact2-outside {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 44px;
    }

    .contact2 {
        position: relative;
        display: flex;
        width: 1200px;
        justify-content: start;
    }

    .contact2-inside {
        display: grid;
        align-items: start;
        margin: 0px 10px 29px 10px;
        height: 211px;
    }

    .contact2-top {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 19px;
        font-weight: 700;
    }

    .contact2-info {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 500;
    }

    .contact2-input {
        width: 186px;
        height: 34px;
        border-radius: 5px;
        font-family: "Noto Sans TC";
        color: black;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0px 0px 10px;
    }


    .contact2-bottom {
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;
    }

    .payment-outside {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .payment {
        display: flex;
        justify-content: right;
        width: 1200px;
        margin: 43px 10px 0px 0px;
    }

    .payment-inside {
        display: block;
    }

    .payment-text {
        display: flex;
        justify-content: right;
        font-family: "Noto Sans TC";
        color: #666666;
        font-size: 16px;
        font-weight: 700;

    }

    .payment-button {
        width: 173px;
        height: 36px;
        border-width: 0px;
        padding: 0px;
        margin-top: 25px;
        font-family: "Noto Sans TC";
        color: white;
        background-color: #448899;
        font-size: 19px;
        font-weight: 400;
        border-radius: 5px;
    }



    .footer {
        width: 100vw;
        height: 104px;
        background-color: #757575;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Noto Sans TC";
        font-size: 16px;
        line-height: 13.3px;
        font-weight: 700;
    }
}