<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week-10</title>
    <link rel="stylesheet" href="{{url_for('static',filename='attraction.css')}}">
</head>

<body>
    <div class="taipei-day-trip">
        <div class="dialog-outside">
            <div class="dialog-width">
                <div class="taipei101-input-button">
                    <input class="taipei101-input" type="text" id="inputAttraction" type="text" placeholder="輸入景點名稱查詢"
                        onclick="showDialog()"></input>
                    <button class="taipei101-button" id="taipei101Button"><img src="../static/icon_search.png" />
                </div>
                <div class="taipei101-input-category">
                    <div id="dialogOutside" class="dialogOutside">
                        <div id="dialog" class="dialog"></div>
                    </div>
                    <div class="dialog-right"></div>
                </div>
            </div>
        </div>
        <div class="sectionTop-Outside" onclick="closeDialog()">
            <div class="sectionTop">
                <div class="sectionTop-space-between">
                    <div class="sectionTop-1">
                        台北一日遊
                    </div>

                    <div class="sectionTop-2">
                        <div class="sectionTop-2-1">
                            預定行程
                        </div>
                        <div class="sectionTop-2-1">
                            登入/註冊
                        </div>
                    </div>
                </div>
            </div>

            <div class="taipei101">
                <div class="taipei101-text">
                    <div class="taipei101-text-1">輕鬆享受台北一日悠閒</div>
                    <div class="taipei101-text-2">探索每個角落，體驗城市的深度旅遊行程</div>
                </div>
                <div class="taipei101Bottom"></div>
                <img src="../static/welcome.png" class="taipei101-image" />
            </div>
            <div class="attractions">
                <div class="flex-container2" id="flex-container2">
                </div>
            </div>
            <footer class="footer">COPYRIGHT © 2022 台北一日遊</footer>
        </div>
    </div>
</body>

<script src="{{url_for('static',filename='attraction.js')}}" type="text/javascript"></script>

</html>